p {
    font-family: 'Lato';
}

h1 {
    font-family: 'Fira Sans';
    font-size: 60px;
}
.costcards {
    text-align: center;

}
.costcards h1 {
    font-family: 'Fira Sans';
    font-size: 48px;
    font-weight: bold;
}

h4 {
    font-family: 'Fira Sans';
    font-size: 30px;
    font-weight: bold;
}

#bannerbox {
    font-family: 'Fira Sans';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#bannerbox h1 {
    font-family: 'Fira Sans';
    font-size: 72px;
    font-weight: bold;
}



/* #standardwagebox {
    margin: 25px;
}

#wagebystatebox{
    margin: 25px;
}

#inputwagebox{
    margin: 25px;
} */
